<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="{{ bokeh_js | safe}}" type="text/javascript"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh.min.js"></script>
    <link rel="stylesheet" href="{{ bokeh_css | safe }}">
</head>
<body>
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="white-label"></div>
        <div id="sidebar-nav">
            <ul>
                <li class="active"><a href="#"><img src="static/icons/dashboard.svg"> Dashboard</a></li>
                <li><a href="#"><img src="static/icons/wiki.svg"> Wiki</a></li>
                <li><a href="#"><img src="static/icons/bug.svg"> Report a Bug</a></li>
                <li><a href="#"><img src="static/icons/contact.svg"> Contact</a></li>
            </ul>
        </div>
    </section>
    
    <!-- Content -->
    <section id="content">
        <div id="header">
            <div class="header-nav">
                <div class="menu-button"><!--<i class="fa fa-navicon"></i>--></div>
                <div class="nav">
                    <ul>
                        <li class="nav-settings">
                            <div class="font-icon"><i class="fa fa-tasks"></i></div>
                        </li>
                        <li class="nav-calendar">
                            <div class="font-icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </li>
                        <li class="nav-chat">
                            <div class="font-icon">
                                <i class="fa fa-comments-o"></i>
                            </div>
                        </li>
                        <li class="nav-profile">
                            <div class="nav-profile-image">
                                <img
                                    src="/static/media/profile.png"
                                    alt="profile-img"
                                    alt="profile image"
                                />
                                <div class="nav-profile-name">
                                    Jonas Bucksch<i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Dashboard</h1>
                <p>Positive Information Systems Seminar: Design Bio-Feedback System to Improve Economic Decision-Making Processes.</p>
            </div>
            <div class="row">
                {% for div, script in divs | pair(scripts) %}
                <div class="widget-box sample-widget">
                    <div class="widget-header">
                        <h2>Step {{ loop.index }}</h2>
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="widget-content">
                        <div class="bokeh-plot">
                            {{ div | safe }}
                        </div>
                        {{ script | safe }}
                    </div>
                </div>
                {% endfor %}
                <div class="widget-box sample-widget">
                    <div class="widget-header">
                        <h2>Simulated Data Stream</h2>
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="widget-content">
                        <div id="stream-plot"></div>
                    </div>
                </div>
                <div class="widget-box sample-widget">
                    <div class="widget-header">
                        <h2>Extracted Electrodermal Response (EDR) Features</h2>
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li>EDR Amplitude: {{ edr_amplitude | safe }}</li>
                            <li>EDR Rising Time (Rise Time): {{ edr_rising_time | safe }}</li>
                            <li>EDR Response Peak (Peak Time): {{ edr_response_peak | safe }}</li>
                        </ul>
                    </div>
                </div>
                <div class="widget-box sample-widget">
                    <div class="widget-header">
                        <h2>Extracted Features to Latency and Recovery Time</h2>
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li>Latency to Stimulus: {{ latency_to_stimulus | safe }}</li>
                            <li>Recovery Time to 50% Amplitude: {{ recovery_time_50 | safe }}</li>
                            <li>Recovery Time to 63% Amplitude: {{ recovery_time_63 | safe }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Connect to the SocketIO server
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/');

        // Create a new Bokeh streaming plot
        var streamPlot = Bokeh.Plotting.figure({
            title: "Simulated Data Stream",
            x_axis_label: "Time",
            y_axis_label: "Amplitude"
        });

        console.log(streamPlot)
        // Create a ColumnDataSource for the stream plot
        var streamSource = new Bokeh.ColumnDataSource({ data: { x: [], y: [] } });

        // Add a line glyph to the stream plot
        streamPlot.line({
            field: "x",
            transform: streamSource,
        }, {
            field: "y",
            transform: streamSource,
            line_color: "#1B9783",
        });

        // Render the stream plot
        Bokeh.Plotting.show(streamPlot, document.getElementById("stream-plot"));

        // Handle the 'update_plot' event received from the server
        socket.on("update_plot", function(data) {
            console.log("Hallo Welt")
            // Update the stream plot with the received data
            streamSource.data = { x: data.x, y: data.y };
            Bokeh.Plotting.show(streamPlot);
        });
    </script>
</body>
</html>